extends layout

block content
  h1= title
  p This is #{title}
  p Backend-Design and Development by 
  a(href="http://basti-sk.com") Basti SK 
  br
  a(href="https://github.com/SWEmicha") SWE Micha
  br
  br
  a(href="/apidoc") See the documentation
  br
  a(href="https://github.com/bastisk/ha-backend") See on GitHub