extends layout

block content
  form(method='POST')
    legend Login
    .form-group
      label(for='username') Benutzername
      input.form-control(type='text', name='username', autofocus, value='#{cusername}')
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='password')
    button.btn.btn-primary(type='submit') Einloggen
    a.btn.btn-link(href='/forgot') Passwort vergessen?