extends layout

block content
  form(method='POST')
    legend Passwort zur체cksetzen
    .form-group
      label(for='password') Neues Passwort
      input.form-control(type='password', name='password', value='', placeholder='Neues Passwort', autofocus=true)
    .form-group
      label(for='confirm') Passwort best채tigen
      input.form-control(type='password', name='confirm', value='', placeholder='Passwort best채tigen')
    .form-group
      button.btn.btn-primary(type='submit') Best채tigen